<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.yourapp" version="1.0.0">
    <name>Your App Name</name>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
    </platform>
</widget>

